/* Basic Styling - Mobile First Approach */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
} 
.clearfix{
    content: "";
    display: block;
    clear: both;
}
a.active {
    color: #ff6302;
}
#orange{
    color: #f37c0c;
    font-style: italic;
}
.orange{
    color: #f37c0c;
}
#red{
    color: red;
}
body{
    font-family: 'Lato', sans-serif;
    color: #723939;
}
nav{
    background: #fff;
    padding: 5px 20px;
    position: fixed;
    width: 100%;
    box-shadow: 1px 1px 4px 0 #ffdfcb;
    z-index: 100;
   }
ul{
    list-style-type: none;
}
a{
    color: #723939;
    text-decoration: none;
}
a:hover{
    color: #ff6302;
}
/* Nav Basic Styling*/
.menu .item a:hover{
    background-color: #ff630291;
    color: #723939;
}
.menu .item a:active{
    background-color: #ff630291;
    color: #fff;
}
.menu li{
    padding: 5px;
    white-space: nowrap;
}
.menu .item a{
    display: block;
}
.logo img{
    width: 200px;
}

/* Nav Toggle Styling */
.bars{
    background: #ff6302;
    display: inline-block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}
.bars::before, 
.bars::after{
    background: #ff6302;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
.bars::before{
    top: 5px;
}
.bars::after{
    top: -5px;
}
.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.toggle{
    order: 1;
    cursor: pointer;
}
.item{
    text-align: center;
    width:100%;
    order: 2;
    display: none;
    padding: 5px;
}
.item .active{
    display: block;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background: url("img/Banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 200px;
    padding-bottom: 200px;
}
.banner-content{
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px 10px;
    margin-top: 80px;
    background-color: rgba(49, 49, 49, 0.5);
    border-radius: 10px;
}
.banner-content h1,
.banner-content h2{
    font-size: 45px;
    line-height: 50px;
    color: #fff;
}
.banner-content p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
}
.banner-content a{
    padding: 15px 5px;
}
.button{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #f37c0c;
    padding: 15px 15px;
    border: 1px solid #e75b03;
    border-radius: 20px;
    transition: all .25s ease-in;
    color: #fff
}
a.button:hover{
    border: 1px solid #fff;
    color: #fff;
}
.box-wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #e75b03;
    padding: 10px;
    margin: 2%;
    width: 40%;
    height: 150px;
    text-align: center;
}
.box i{
    font-size: 20px;
    color: #f37c0c;
    margin:0;
    padding:0;
}
.container{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-image: url("img/Geometric-Background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
}
#prof-pic{
    width: 70%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}
#sig{
    width: 40%;
}

/* Featured Listings Style*/
.featured{
    margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.listings{
    margin-top: 150px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.listings .feat-title{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.listings .main-box{
    margin: 10px auto;
}
.listings .main-box .img-box{
    margin: 0;
    padding: 0;
}
.feat-title{
    margin: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}
.main-box{
    margin: 20px auto;
    width: 90%;
    height: 350px;
    background: #fff;
    box-shadow: 2px 2px 6px 0 #d3783fc2;
    overflow: hidden;
}
.main-box .img-box{
    position: absolute;
    width: 90%;
    height: 350px;
}
.main-box .img-box img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    transition: all 0.3s ease-in;
}
.main-box .details{
    background-color: #f37c0c;
    overflow: hidden;
    transition: all .5s ease-in;
}
.main-box .details .info{
    display: none;
    text-align: center;
    margin: 15px;
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    height: 320px;
    border: 1px solid #e75b03;
    width: auto;
}
.main-box .details .info .info-content{
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.info-content .info-right h2{
    font-size: 30px;
    margin: 8px;
}
.info-content .col{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.info-left i{
    font-size: 30px;
    color:#fff;
}
.info-row{
    margin-top: 20px;
    width: 100%;
    text-align: center;
}
.info-row a{
    color: #fff;
}   
.main-box:hover .details{
    left:0;
    width: 100%;
    height: 100%;
    bottom: 0;
    border-radius: 0;
    opacity: .7;
    transition: all .5s ease;
    color:#723939;
}
.main-box .details:hover .info{
    display:block;
} 
.main-box .details:hover h4{
    display:none;
}

/*Testimonials Style */
.testimonials{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background:#ffdfcb
}
.testimonials .title{
    padding-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.main-card-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.main-card-wrap .card-wrap{
    width: 100%;
    padding: 0 10px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-card-wrap .card-wrap .card{
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    width: 100%;
    margin: 5px;
    height: 40%;  
    border-radius: 5px;
    border: 1px solid #e75b03;
}
.main-card-wrap .card-wrap .card i.quote{
    font-size: 25px;
    color:#f37c0c;
    margin-bottom: 20px;
}
.card-wrap .card .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-wrap .card .content .cust-info p{
    color: #f37c0c
}
.card-wrap .card .content .cust-img{
    height: 75px;
    width: 75px;
}   
.card-wrap .card .cust-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #f37c0c;
}

/* Form Style */
.form-wrap{
    margin-top: 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.form{
    margin: 10px;
    padding: 15px;
    border: 1px solid #ff6302;
    border-radius: 5px;
    min-width: 200px;
    background-color: #ffdfcb;
}
label {
    display: block;
    margin-top: 10px;
    margin-bottom: 3px;
}
input{
    padding: 10px;
    border: 1px solid #ff6302;
    border-radius: 5px;
    width: 200px;
}
textarea{
    min-height: 100px;
    min-width: 100%;
    padding: 8px;
    border: 1px solid #ff6302;
    border-radius: 5px;
}
input[type="submit"]{
    padding: 5px;
    background-color:#f37c0c;
    border: 1px solid #e75b03;
    color: #fff;
    width: 100px;
    margin-top: 10px;
    transition: all .25s ease-in;
}
input[type="submit"]:hover{
    border-color: #fff;
}

/* About Page */
.about{
    margin-top: 150px;
    color: #723939;
}
.about h2{
    color: #723939;
    font-size: 24px;
}
.about .row-wrap{
    margin-top: 20px;
}
.about .row-wrap .row-title{
    text-align: center;
    padding: 10px;
    margin-top: 15px;
}
.about .row-wrap .row .stats{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding: 20px auto;
    justify-content: center;
    align-items: center;
}
.about .row-wrap .row .row-text{
    padding: 15px;
}
.about .row-wrap .row .occupy{
    display: flex;
    flex-flow: row wrap;
    margin-top: 20px;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
.about .row-wrap .row .occupy .row-img{
    width: 100%;
}
.about .row-wrap .row .occupy .row-img img{
    width:100%;
}
.about .row-wrap .row .occupy .row-text{
    padding: 0;
    margin-top: 20px;
}
.about .row-wrap .row .stats .box2{
    border: 1px solid #ff6302;
    width: 40%;
    height: 100%;
    margin: 5px auto;
}
.about .row-wrap .row .box2 img{
    width: 100%;
}
.about .row-wrap .row .box-wrap{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.about .row-wrap .row .box-wrap .box{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid #ff6302;
    background-color: #ffdfcb;
    width: 80%;
    height: 280px;
}
.about .row-wrap .row .box-wrap .box .box-img{
    display: flex;
    justify-content: center;
    width: 30%;
}
.about .row-wrap .row .box-wrap .box img{
    margin:5px;
    padding:0;
    width: 80px;
    height: 80px;
}
.about .row-wrap .row .box-wrap .box .box-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
.about .row .box-wrap .button{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #f37c0c;
        padding: 15px 15px;
        border: 1px solid #ffdfcb;
        border-radius: 20px;
        transition: all .25s ease-in;
        color: #fff
    }
.about .row .box-wrap a.button:hover{
        border: 1px solid #e75b03;
        color: #fff;
}

/* Contact Page */
.contact .row .banner2{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.contact .row .banner2 img{
    width: 100%;
}
.contact .row .logo{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}
.contact .row .logo img{
    width: 30%;   
}
.contact .details{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.contact .details table{
    padding: 10px;
}
.contact .details table tr{
    line-height: 25px;
}
.contact .details td i{
    margin-right: 5px;
    color: #f37c0c;
}
.contact .row .row-title{
    margin-top: 50px;
    text-align: center;
}

/* Property Details Page - Image Slider*/
.property-details{
    margin-top: 150px;
}
.property-details .property-info{
    margin-left: 10px;
    margin-bottom: 20px;
}
.slidershow{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.navigation{
    position: absolute;
    bottom: 10px;
    left:50%;
    transform: translateX(-50%);
    display: flex;
}
.bar{
    width: 30px;
    height: 10px;
    border: 2px solid #e75b03;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: .4s;
}
.bar:hover{
    background: #e75b03;
    opacity: .6;
}
input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
    margin: auto;
}
.slide{
    width: 20%;
    transition: .6s;    
}
.slide img{
    width: 100%;
    height: 100%;
}
#r1:checked ~ .s1{
    margin-left: 0;

}
#r2:checked ~ .s1{
    margin-left: -20%;
    
}
#r3:checked ~ .s1{
    margin-left: -40%;
    
}
#r4:checked ~ .s1{
    margin-left: -60%;
    
}
#r5:checked ~ .s1{
    margin-left: -80%;   
}

/* Property Page Style*/
.property-details{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.property-details .property-info{
    width: 100%;
}
.property-details .property-facts{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
.property-details .property-description .row{
    padding: 10px;
}
.property-details .property-description .row2{
    margin-top: 10px;
}
.property-details .property-description .row2 ul{
    list-style-type: square;
    margin-left: 20px;
    margin-bottom: 30px;
    padding: 10px;
}

.property-details .property-facts h2,
.property-details .property-description h2{
    color:#f37c0c;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.property-details .property-facts table{
    text-align: left;
    padding: 10px;
    width: 100%;
}
.property-details .property-facts table tr{
    width: 100%;
}
.property-details .button{
    width: 230px;
    margin-bottom: 20px;
}

/* Footer Style */
.footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.footer .row{
    margin-bottom: 10px;
}
.footer .row .col .footer-logo{
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.footer .row .col .footer-logo img{
    width: 200px;
}
.footer .row .col{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
}
.footer .row .col .ql a:hover{
    color: #ff6302;
}
.footer-logo, .footer-txt{
    text-align: center;
}
.footer .row .col img{
    width: 100%;
    margin: 20px auto;
}
.footer .row .col .social{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}
.footer .row .col .social .fab{
    color: #ff6302;
}
.newsletter {
    margin: 20px auto;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.subscribe{
    margin-top: 5px;
    left: 0;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 250px;
    position: relative;
    max-width: 250px;

}
.subscribe .input{
    margin-top: 10px;
    position: relative;
    width: 100%;
    padding: 10px 10%;
    border-radius: 5px;
    border: 1px solid #ff6302;
    margin: 0;
}
.subscribe .fas{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3%;
    color:#ff6302;
}
.subscribe .btn{
    position: absolute; 
    top: 50%;
    right: 3%;
    transform: translateY(-50%);
    background: #f37c0c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    letter-spacing: 2px;
    cursor: pointer;
}

/* Tablet View */
@media only screen and (min-width: 768px){
    .menu{
        justify-content: center;
    }
    .nav-wrap .menu li a:hover{
        background-color: #fff;
        color: #ff6302;
    }
    .logo{
        flex:1;
    } 
    .item{
        width: auto;
        order: 1;
        display: block;
    }
    .toggle{
        display:none;
    }
    .box{
        width: calc(100%/5);
    }
    .container{
        display: block;
    }
    #prof-pic{
        width: 40%;
        float: left;
    }
    #sig{
        width: 30%;
    }   
    .main-box{
        display: flex;
        width: 70%;
    }
    .main-box .img-box{
        position: absolute;
        width: 70%;
        height: 350px;
    }
    .content-wrap{
        padding: 30px;
    }
    main .container{
        display: block;
        width: 100%;
        margin: auto;
    }
    .main-card-wrap{
        flex-flow: row wrap;
        height: 100%;
    }
    .main-card-wrap .card-wrap{
        width: 33%;
    }
    .main-card-wrap .card-wrap .card{
        height: 30%;
    }
    .main-card-wrap .card-wrap .card .cust-info{
        width: 65%;
        height: 65%
    }
    .subscribe, .social{
        width: 50%;
    }
    .footer .row{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        width: 80%;
    }
    .about .row-wrap .row .stats .box2{
        width: 20%;
    }
    .about .row-wrap .row .occupy .row-img{
        width: 75%;
    }
    .about .row-wrap .row .box-wrap{
        flex-flow: row wrap;
    }
    .about .row-wrap .row .box-wrap .box{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        border: 1px solid #ff6302;
        background-color: #ffdfcb;
        width:calc(100%/3.5);
        height: 300px;
    }
    .contact .row .form-wrap .form{
        width: 450px;
    }
    .contact .row .form-wrap .form input{
        width: 250px;
    }
    .contact .row .form-wrap .form input[type="submit"]{
        width: 100px;
    }
    .contact .row .logo img{
        width: 40%;
    }
    .property-details .property-facts table{
        text-align: left;
        padding: 10px;
        width: 50%;  
    }    
}

/* Desktop View */
@media only screen and (min-width: 992px){
    .nav-wrap{
        width: 95%;
        margin: auto;
    }
    .menu li{
        padding: 10px 20px;
    }
    .item{
        padding: 10px;
    } 
    .logo{
        margin-right: 300px;
    } 
    .banner-content{
        width: 60%;
    } 
    main .container{
        display: block;
        width: 100%;
        margin: auto;
    }
    .box-wrap{
        margin:auto;
        width:100%;
        justify-content: space-evenly;
    }
    .box{
        width:calc(100%/5);
    } 
    .content-wrap{
        padding: 30px;
    }
    #prof-pic{
        width: 28%;
        float: left;
    }
    #sig{
        width: 20%;
    }
    .main-box{
        display: flex;
        width: 32%;
    }
    .main-box .img-box{
        position: absolute;
        width: 32%;
        height: 350px;
    }
    .listings-wrap{
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .listings{
        width: 70%;
        flex-flow: row wrap ;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        padding: 10px;
    }
    .listings .main-box{
        display: flex;
        width: 45.8%;
        margin: 5px auto;
    }
    .listings .main-box .img-box{
        position: absolute;
        width: 45.5%;
        height: 350px;   
        flex-grow: 1;
    } 
    .listings .main-box .img-box img{
        position: absolute;
        width: 68.8%;
        height: 350px;   
        object-fit:cover;
    }
    aside{
        width: 30%;
        margin-top: 300px;
    }   
    .testimonials{
        flex-flow: row wrap;
    } 
    .testimonials .title{
        width: 20%;
        flex-grow: 3;
        text-align: center;
    }
    .main-card-wrap{
        flex-flow: row wrap;
        height: 100%;
    }
    .main-card-wrap .card-wrap{
        width: 33%;
    }
    .main-card-wrap .card-wrap .card{
        height: 350px;
    }
    .main-card-wrap .card-wrap .card .cust-info{
        width: 55%;
        height: 55%;
    }
    .about{
        width: 80%;
        margin: auto;
        padding-bottom: 0px;
    } 
    #rt1{
        margin-top: 130px;
    }
    .about .row-wrap{
        margin-top: 30px;
    } 
    .about .row-wrap .row{
        margin: auto;
    }
    .about .row-wrap .row .stats{
        display: block;
        float: left;
        padding: 20px;
    }
    .about .row-wrap .row .stats .box2:nth-child(2n){
        float: left;
    }
    .about .row-wrap .row .stats .box2:nth-child(2n+1){
        clear: left;
        float: left;
    }
    .about .row-wrap .row .stats .box2{
        margin: 10px 20px;
        width: 125px;
    }
    .about .row-wrap .row .box-wrap .box{
        width: calc(100/3);
        height: 320px;
    }
    .about .row-wrap .row .stats .row-text{
        margin-top: 0px;
        padding-top: 5px;
    }
    .about .row-wrap .row .occupy{
        display: block;
        margin: 20px auto;       
    }
    .about .row-wrap .row .occupy .row-img{
        width: 45%;
        float: right;
        margin-top: 10px;
        margin-left: 10px;
    }
    .about .row-wrap .row .occupy .row-text{
        display: inline;
        width: 55%;
        margin-right: 15px;
        margin-top: 10px;
    }
    .about .row-wrap .row .occupy .row-img img{
        width: 100%;
        margin: auto;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-flow: row wrap;
    }
    .footer .row{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 10px;
    }
    .footer .row .col .footer-logo{
        width:100%;
        height: 100%;
        text-align: left;
        margin-bottom: 10px;
    } 
    .footer .row .col .footer-logo a{
        width: 100%;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .footer .row .col{
        margin:0;
        padding:0;
        width: 30%;
        justify-content: center;
        margin-top: 20px;
    } 
    .footer-txt{
        text-align: left;
    }
    .subscribe{
        width: 250px;
    }
    .contact .row .logo img{
        width: 20%;   
    }
    .contact .row .banner2 img{
        width: 100%;
    }
    .contact .row .banner2{
        display: flex;
        justify-content: center;
        width: 80%;
        margin: 100px auto;
    }
    .contact .page-wrap .right .row .logo img{
        width: 40%;   
    }
    .contact .page-wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-bottom: 50px;
    } 
    .contact .page-wrap .left,
    .contact .page-wrap .right{
        display: flex;
        flex-direction: column;
    }
    .contact .page-wrap .left{
        align-items: center;
        width: 60%;
    }
    .contact .page-wrap .right{
        align-items: flex-start;
        width: 40%;
        order: 2;
        padding-left: 0px;
    }
    .contact .page-wrap .right .row .logo{
        justify-content: flex-start;
    }
    .contact .page-wrap .left .row .row-title{
        margin-top: 0;
        padding-top: 0;
    }
    .contact .row .form-wrap .form{
        width: 500px;
    }
    .contact .row .form-wrap .form input{
        width: 300px;
    }
    .property-details{
        flex-flow: row wrap;
        width: 80%;
        margin: 150px auto 0 auto;
        align-items: flex-start;
        padding-bottom: 0;
    }
    .property-details .property-facts table{
        text-align: left;
        padding: 10px;
        width: 100%;
    }
    .property-details .property-facts{
        width: 35%;
        border: 1px solid #ffdfcb;
        padding: 5px
    }
    .property-details .property-facts h2{
        margin-top: 0;
        
    }
    .property-details .property-description h2{
        margin-top: 0;
        margin-left: 10px;
        padding-left: 5px;
    }
    .property-details .property-description{
        width: 65%;
    }
    .slidershow{
        margin-bottom: 30px;
    }
}  
/* Extra Large Viewport */
@media only screen and (min-width: 1500px){
    html{
        margin: auto;
    }
    .container{
        padding: 80px;
    }
    #prof-pic{
        width: 20%;
    }
    #sig{
        width: 15%;
    }
    .box-wrap{
        width: 60%;
    }
    .featured{
        width: 100%;
        margin: 20px auto;
    }
    .main-box{
        display: flex;
        justify-content: space-around;
        width: 32%;
    }
    .main-box .img-box{
        position: absolute;
        justify-content: space-evenly;
        width: 32%;
        height: 350px;
    }
    .feat-title{
        width: 90%;
    }
    .listings-wrap{
        padding-left: 0px;
    }
    .listings{
        width: 75%;
        padding: 10px;
    }
    .listings .main-box{
        width: 47%;
    }
    .listings .main-box .img-box{
        display: flex;
        justify-content: center;
        width: 50.5%;
    } 
    .listings .main-box .img-box img{
        object-fit: cover; 
    }
    aside{
        width: 25%;
        margin-left: 0px;
        padding-left: 0px;
    }
    .form{
        width: 350px;
    }
    .form-wrap .form-title{
        width: 350px;
        text-align: left;
    }
    .testimonials{
        width: 100%;
        margin: auto;
    } 
    .testimonials .title{
        width: 100%;
    }
    .main-card-wrap{
        width: 80%;
        margin-bottom: 20px;
    }
    .main-card-wrap .card-wrap .card{
        width: 90%;
        height: 300px;
    }
    .info-left{
        float: left;
        width: 30%;
    }
    .footer-logo a{
        width: 60%;
    }
    .subscribe{
        width: 70%;
    }
    .about{
        width: 75%;
    }
    .about .row-wrap .row .occupy .row-img{
        width: 35%;
    }
    .steps{
        padding-top: 100px;
    }
    .contact .row .form-wrap .form{
        width: 600px;
    }
    .property-details{
        width: 70%;
    }
    .property-details .property-facts table{
        text-align: left;
        padding: 10px;
        width: 100%;
    }
    .property-details .property-facts{
        width: 25%;
        border: 1px solid #ffdfcb;
        padding: 5px
    }
    .property-details .property-facts h2{
        margin-top: 0;
        
    }
    .property-details .property-description h2{
        margin-top: 0;
        margin-left: 10px;
        padding-left: 5px;
    }
    .property-details .property-description{
        width: 75%;
    }
    .slidershow{
        margin-bottom: 30px;
    }
}
